.wrap{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.Menu{
  text-align: left;
}

  .header{
    display: flex;
    background-color: black;
    color : white;
    justify-content: space-between;
  }


